body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 16px;
  line-height: 2;
}

// 제목 폰트
h1, h2, h3 {
  font-family: 'Pretendard', sans-serif;
}

// 코드 블록 폰트
code, pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 10px;
}

.page {
  width: 100%;
  max-width: 1000px;  // 원하는 너비로 조절 (기본값: 800px)
  margin: 0 auto;  // 가운데 정렬 유지
}

.sidebar {
  max-width: 190px;
}

@media (min-width: 80em) {
  .page {
    width: calc(100% - 200px);
    padding-right: 200px;
  }
}

.sidebar__right {
  max-width: 190px;
}

.page__meta {
  font-size: 12px;
}

// recent posts
.archive__item-title a {
  font-size: 22px;
  font-family: "pretendard", sans-serif;
  font-weight: bold;
  color: #333; /* 기본 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  transition: color 0.2s ease-in-out; /* 부드러운 색상 전환 */
}

.archive__item-title a:hover {
  color: #0078ff; /* 마우스 오버 시 파란색 강조 */
}

.archive__item-title p {
  margin-top: 0;
}

.list__item {
  padding-left: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.page__meta {
  font-size: 12px !important;  /* 우선순위 강제 적용 */
  color: #888 !important;
  display: flex !important;
  align-items: center !important;
  margin-top: 5px !important;
}

.page__meta i {
  margin-right: 5px !important;/* 캘린더 아이콘과 텍스트 간격 */
  color: #aaa !important; /* 아이콘 색상 */
}

.archive__item-excerpt {
  font-size: 16px;  /* 설명 폰트 크기 */
  color: #555;  /* 살짝 연한 회색 */
  line-height: 1.6;  /* 행간 조정 */
  margin-top: 0px; /* 날짜와의 간격 추가 */
}

.archive__item-title {
  margin-bottom: 6px; /* 제목과 날짜 간격 */
}

.page__meta {
  margin-bottom: 6px; /* 날짜와 설명 간격 */
}

// layout

.page {
  max-width: 1100px;  /* 전체 컨텐츠 영역 너비 조정 */
  margin: 0 auto;
}

.page__content {
  max-width: 800px;  /* 본문 너비 키우기 */
}

.sidebar {
  width: 250px; /* 사이드바 크기 조정 */
}

// tag & category
.nav__items a, .category-list a {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.3s;
}


@media screen and (max-width: 768px) {
  .sidebar {
    display: none;  /* 모바일에서는 사이드바 숨김 */
  }

  .page__content {
    max-width: 100%;  /* 본문이 꽉 차도록 */
  }
}

/**
 ARCHIVE PAGE (카테고리별 페이지)
 */

// item title
.archive-item > div > span > a {
  font-size: 20px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.archive-item > div > span > a:hover {
  color: #0078ff; /* 모던한 파란색 강조 */
}

.archive-item > div > small {
  font-size: 14px;
  color: #888;
  //display: flex;
  align-items: center;
  margin-top: 5px;
}

.archive-item > div > small > i {
  margin-left: 4px;
  margin-right: 4px;
  color: #aaa;
}

.page__taxonomy > span {
  display: flex;
  gap: 4px;
}

.page__taxonomy > span > a {
  color:  #aaa
}

.archive .list__item {
  padding-top: 8px;
}